.App {
  text-align: center;
  background-color: rgb(10, 41, 56);
  width: 100%;
  height: 100%;
}
html,body{
 
  height: 100%;
}


#heading_section{
  
  width: 100%;
  
  background-color: rgb(24, 60, 102);
  color: whitesmoke;
  display: inline-flex;
  /* border: 1px yellow solid; */
}
#outer_a{
  display: inline-flex;
  width: 100%;
  /* border: 1px blue solid; */
}
#outer_b{
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  /* border: 1px red solid; */
 }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#box{
  /* background-color: red; */
 /* border: 1px blue solid; */
  display: inline-flex;
  width: 100%;
  height: 85%;
  
}
#content_section{
  width: 100%;
  height: 100%;
  background-color: black;
  color: whitesmoke;
  display: inline-flex;
  /* border:1px rgb(217, 255, 0) solid; */
}
#a{
  /* background-color: black; */
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#b{
  /* border:1px red solid; */
  background-color: rgb(13, 102, 138);
  display: inline-flex;
 
  width: 100%;
  height: 100%;
}
#item{
  background-color: rgb(113, 114, 107);
  
  /* border: 1px black solid; */
  margin: 2px 0px 2px 0px;
  display: inline-flex;
  width: 100%;
  overflow: auto;
  height: fit-content;
}
#button{
  display: inline-flex;
  flex-direction: row-reverse;
  /* padding:0.5%; */
  /* margin: 0.2% 0.2% 0 0; */
  height: fit-content;
  /* justify-content: center; */
  /* height: 5%; */
  /* border:2px orange solid; */
  
}
button{
 /* background-color: #61dafb; */
 width: 100%;
 height: fit-content;
 width: fit-content;
 

}
#btnm{
 
  display: inline-flex;
  width: 100%;
  align-self: center;
  justify-content: center;
}
#c{
  display:inline-flex;
  width: 25%;
  border:1px black solid;
  color:black;
  width: 100%;
  overflow: auto;
  background-color: yellow;
}